.wrapper{ 
    width: 350px; 
    padding: 20px; 
    margin: auto;
    border:  3px solid black;
    border-radius: 25px;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 95vw;
    }
    
}